.app-container {
	width: 2700px;
	height: 272px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 1.2rem;
}
.img-container {
	float: right;
	margin: 30px;
}
.mypic {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card1 {
	width: 370px;
	height: 441px;
	border: 3px solid red;
}
