.main-container {
	width: 1280px;
}
.app-container {
	width: 270px;
	height: 272px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 1.2rem;
}
.img-container {
	float: right;
	margin: 30px;
}
.mypic {
	width: 50px;
}
.app-container:hover {
	transform: scale(1.01) translateY(0.2rem);
	cursor: pointer;
}
