.app-container {
	width: 360px;
	height: 360px;
	background-color: blue;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 1.2rem;
}
.img-container {
	float: right;
	margin: 30px;
}
.mypic {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
